
VITE_SUPABASE_URL=https://test123.supabase.co
VITE_SUPABASE_ANON_KEY=test123.test123.test123-test123-test123
VITE_ARENA_URL=http://localhost:3000
VITE_API_URL=http://localhost:4000
# Turnstile Widgets
VITE_CAPTCHA_SITE_KEY=test123